body {
  margin: 0;
  background-color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
  overflow-x: hidden;
  background-image: url(../img/background_big.jpg);
  background-attachment: fixed;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 77px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 9999;
}
footer {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  background-color: #caffa8;
  height: 80px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  display: none;
}
.info {
  display: flex;
  flex-direction: column;
}
.sign_up {
  background-color: white;
  width: 25vw;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 20vh;
  left: calc(50vw - 12.5vw);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
  z-index: 9999;
}
.sign_inp {
  line-height: 20px;
  width: 15vw;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);
}
.sign_inp:focus {
  outline: none;
  -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.7);
  box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.7);
  transition: 0.3s;
}
button h2 {
  font-size: 1.5em;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 0;
}
button {
  background: #ffffff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: #000000;
  border: solid #000000 1px;
  text-decoration: none;
  transition: 0.3s;
}
button:focus  {
  outline: none;
}
button:active {
  filter: invert(100%);
  transition: 0.3s;
}
footer p {
  font-size: 0.8em;
}
h2 {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.7em;
}
h1 {
  font-size: 2em;
}
h3 {
  color: #636363;
  line-height: 0;
}
.logos{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  padding-right: 50px;
  transition: 0.6s;
}
.logos:hover {
  transition: 0.6s;
  background-color: white;
  color: black;
  filter: invert(100%);
}
.logo:hover {
  transition: 0.6s;
}
.headbox {
  transition: 0.6s;
}
.headbox:hover {
  transition: 0.6s;
  background-color: black;
  color: white;
}
.headbox {
    height: 76px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mid_sect{
  display: flex;
  flex-direction: row;
}
.watches {
  width: 80vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 80px;
  opacity: 1;
  transition: 0.4s;
  z-index: 9950;
}
.ad_size {
  width: 15vw;
  height: 32.29vw;
  margin-top: 5px;
  margin-bottom: 5px;
}
.ad_col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.opo {
  opacity: 0;
  transition: 0.4s;
  z-index: 0;
}
.imgbox {
  transition: 0.5s;
  z-index: 0;
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 300px;
}
.imgbox:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.img_prt {
  width: 250px;
  height: 250px;
  transition: 0.5s;
}
.img_prt:hover {
  transition: 0.5s;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
}
.txt_prt {
  width: 250px;
  height: 100px;
  overflow-y: scroll;
  border-top: rgba(0, 0, 0, 0.5) solid 2px;
}
.txt_prt p {
  margin: 0;
}
.col1 {
  transition: 0.3s;
  background-position: 0px 0px;
  background-image: url(../img/clock1.png);
}
.col2 {
  background-position: 0px 0px;
  transition: 0.3s;
  background-image: url(../img/clock2.png);
}
.col3 {
  background-position: 0px 0px;
  transition: 0.3s;
  background-image: url(../img/clock3.png);
}
.col1:hover {
  background-position: 250px 0px;
  transition: 0.3s;
}
.col2:hover {
  background-position: 250px 0px;
  transition: 0.3s;
}
.col3:hover {
  background-position: 250px 0px;
  transition: 0.3s;
}
#txt {
  font-size: 2em;
  font-weight: bold;
  margin-left: 15px;
  margin-right: 15px;
}
.head_align {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 99vw;
}
.left_head {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.right_head {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
  height: 40px;
  width: 40px;
  animation-name: log_col;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
.img_size {
  width: 250px;
}
.sign_info {
  display: flex;
  flex-direction: column;
}
.display_n {
  display: none;
  z-index: 0;
}
.switch {
  display: flex;
  flex-direction: row;
  font-size: 0.7em;
  align-items: center;
  margin-bottom: 20px;
}
.switch_ico {
  height: 15px;
  width: 15px;
}
.compare {
  position: fixed;
  z-index: 10;
  top: 20vh;
  left: calc(50vw - 296px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.compare_img {
  width: 64px;
  height: 64px;
}
.clear_img {
  width: 64px;
  height: 64px;
}
.compare_arrows {
  background-color: white;
  margin: 10px;
  width: 64px;
  height: 64px;
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
}
.compare_arrows:active {
  filter: invert(100%);
  transition: 0.2s;
}
.compare_inp {
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
  font-size: 1.5em;
  height: 1.6em;
  width: 250px;
}
.compare_form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.compare_inp:focus {
  outline: none;
}
.compare_flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: calc(15vw + 64px);
  min-width: 260px;
  justify-content: space-between;
}
.comp_pic {
 height: 250px;
 width: 250px;
 -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
 -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
 box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
}
.comp1 {
  background-image: url(../img/clock1.png);
}
.comp2 {
  background-image: url(../img/clock2.png);
}
.comp_info {
  width: 250px;
  height: 150px;
  background-color: white;
  display: flex;
  margin-top: 15px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
}
.categories {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  width: 125px;
  line-height: 0;
}
.error_msg {
  background-color: white;
  position: fixed;
  text-align: center;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
}
.back_btn {
  background-color: white;
  height: 48px;
  width: 56px;
}
.svg_size {
  height: 20px;
  width: 20px;
}
.remove_err {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.clock_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  width: 125px;
  line-height: 0;
}
@media screen and (max-device-width: 360px) and (max-device-height: 640px) {
  .ad_col {
    display: none;
  }
  .left_head {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  .right_head {
    display: none;
  }
  header {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .head_align {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logos {
    display: none;
  }
  .headbox {
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .headbox:active {
    background-color: black;
    color: white;
    transition: 0.6s;
  }
  h2 {
    font-size: 3em;
  }
  .sign_up {
    margin-top: 200px;
    width: 700px;
    position: fixed;
    left: calc(50vw - 350px);
  }
  .sign_up h2 {
    font-size: 5em;
  }
  .sign_inp {
    font-size: 3em;
    height: auto;
    width: 500px;
  }
  .logon {
    margin-top: 50px;
  }
  .signup {
    margin-top: 50px;
  }
  .switch_ico {
    height: 48px;
    width: 48px;
  }
  .switch p{
    font-size: 2em;
  }
  .mid_sect {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  .compare_flex {
    display: none;
  }
  .compare_form {
    display: flex;
    flex-direction: column;
  }
  .compare_inp {
    width: 700px;
    font-size: 3em
  }
  .compare {
    left: calc(50vw - 350px);
    top: 500px;
  }
  .compare_img {
    width: 80px;
    height: 80px;
  }
  .clear_img {
    width: 80px;
    height: 80px;
  }
  .compare_arrows {
    width: 80px;
    height: 80px;
  }
  .comp_pic {
    display: none;
  }
  .comp_info {
    width: 700px;
    height: auto;
    font-size: 3em;
  }
  .categories {
    width: 350px;
  }
  .clock_info {
    width: 350px;
    margin: 0;
  }
  .watches {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: auto;
  }
  .imgbox {
    width: 250px;
    transform: scale(1.25, 1.25);
    height: auto;
    margin: 50px;
  }
  .imgbox h3 {
    font-size: 3em;
  }
  .error_msg {
    width: 700px;
  }
}
@media screen and (max-device-width: 1024px) and (max-device-height: 1366px) {
  .ad_col {
    display: none;
  }
  .watches {
    width: 100vw;
  }
  .sign_up {
    width: 700px;
    left: calc(50vw - 350px);
  }
  .sign_up h2 {
    font-size: 3em;
  }
  .sign_inp {
    font-size: 2em;
    height: auto;
    width: 500px;
    margin-top: 50px;
  }
  .switch_ico {
    width: 40px;
    height: 40px;
  }
  .switch p {
    font-size: 2em;
  }
}
